.title-container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
  border-bottom: 0.2rem solid #303030;
  padding-bottom: 0.2rem;
  width: 8rem;
}

.list {
  gap: 1rem;
  margin: 2rem 0;
  width: 100%;
  text-align: left;
}

.list > thead > tr > th {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
}
.list > tbody > tr > td {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
}